# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/AdminECW/AdminECW/ClientApp/dist
/AdminECW/AdminECW/ClientApp/tmp
/AdminECW/AdminECW/ClientApp/out-tsc
/AdminECW/AdminECW/ClientApp/bazel-out

# Node
/AdminECW/AdminECW/ClientApp/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/AdminECW/AdminECW/ClientApp/.angular/cache
.sass-cache/
/AdminECW/AdminECW/ClientApp/connect.lock
/AdminECW/AdminECW/ClientApp/coverage
/AdminECW/AdminECW/ClientApp/libpeerconnection.log
/AdminECW/AdminECW/ClientApp/testem.log
/AdminECW/AdminECW/ClientApp/typings

# System files
.DS_Store
Thumbs.db
